.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;

}

.homeContainer--divLogin {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
