.homeContainer {

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 25px;
}

.homeContainer--divLogin {
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-items: center;
}