
.starredDiv h3 {
    display: flex;
    justify-content:center;
}

.starredDiv--listItem {
    list-style: none;
    display: inline-block;
    word-wrap: break-word;
    flex-wrap: nowrap;
    width: 30% ;
    padding: 2px;
    font-size: 14px;
}