.reposDiv {
  width: 100%;
}

.reposDiv h3 {
  display: flex;
  justify-content:center;
}

.reposDiv--listItem {
  list-style: none;
  display: inline-block;
  word-wrap: break-word;
  flex-wrap: nowrap;
  width: 30% ;
  padding: 2px;
  align-self: center;
  font-size: 14px;
}

