.searchDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 3px solid rgba(33, 111, 32, 4);
}
.searchDiv label {
  align-items: center;
}

.searchDiv button {
  margin-top: 15px;
}
